{
  "address": ":8080",
  "dbname": "gopush",
  "dbuser": "gopush",
  "dbpass": "gopush",
  "certfile": "",
  "keyfile": "",
  "adminuser": "admin",
  "adminpass": "admin",
  "timeout": 0,
  "usercache": true,
  "broadcastbuffer": 4096,
  "extralogging": true,
  "redirectmainpage": ""
}
